In [1]:
import pandas as pd

mpg = pd.read_csv('../files/mpg.csv')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [10]:
#displ 4이하, displ 5 이상인 model 중 hwy 평균이 더 높은 것
hwy1 = mpg.query('displ <= 4')['hwy'].mean()
hwy1

25.96319018404908

In [13]:
hwy2 = mpg.query('displ >= 5')['hwy'].mean()
hwy2

18.07894736842105

In [20]:
#audi와 toyota중 어느 manufacturer의 cty 평균이 더 높은지
audi = mpg.query('manufacturer == "audi"')['hwy'].mean()
audi

26.444444444444443

In [21]:
toyota = mpg.query('manufacturer == "toyota"')['hwy'].mean()
toyota

24.91176470588235

In [25]:
#chevrolet ford honda 고속도로 연비 평균

mpg.query('manufacturer == "chevrolet" | manufacturer == "ford" | manufacturer == "honda"')['hwy'].mean()

22.50943396226415