In [1]:
import pandas as pd
import numpy as np

mpg = pd.read_csv('../files/mpg.csv')

In [3]:
#mpg 복사본에세 cty와 hwy를 더한 합산 연비 변수 추가
mpg2 = mpg.assign(합산연비 = mpg['cty'] + mpg['hwy'])

mpg2

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,합산연비
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,47
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,50
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,51
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,51
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,42
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,47
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,50
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,42
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,44
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,43

In [7]:
#평균 연비 변수 추가

mpg3 = mpg2.assign(평균연비 = mpg2['합산연비']/2)
mpg3

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,합산연비,평균연비
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,47,23.5
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,50,25.0
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,51,25.5
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,51,25.5
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,42,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,47,23.5
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,50,25.0
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,42,21.0
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,44,22.0
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,43,21.5

In [8]:
#평균 연비 변수가 가장 높은 자동차 3종
mpg3.sort_values('평균연비',ascending=False).head(3)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,합산연비,평균연비
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,79,39.5
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,77,38.5
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,70,35.0

In [10]:
mpg.assign(합산연비 = lambda x: x['cty'] + x['hwy'],
           평균연비 = lambda x: x['합산연비']/2)\
 .sort_values('평균연비',ascending=False)\
 .head(3)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,합산연비,평균연비
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,79,39.5
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,77,38.5
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,70,35.0