In [1]:
import pandas as pd

mpg = pd.read_csv('../files/mpg.csv')

In [4]:
fuel = pd.DataFrame({'fl': ['c', 'd', 'e', 'p', 'r'],
                     'price_fl': [2.35, 2.38, 2.11, 2.76, 2.22]})
fuel

  fl  price_fl
0  c      2.35
1  d      2.38
2  e      2.11
3  p      2.76
4  r      2.22

In [9]:
#mpg 데이터에 price_fl 추가
mpg = pd.merge(mpg, fuel, how = 'left', on = 'fl')

mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,price_fl_x,price_fl_y,price_fl
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,2.76,2.76,2.76
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,2.76,2.76,2.76
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,2.76,2.76,2.76
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,2.76,2.76,2.76
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,2.76,2.76,2.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,2.76,2.76,2.76
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,2.76,2.76,2.76
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,2.76,2.76,2.76
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,2.76,2.76,2.76
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,2.76,2.76,2.76

In [10]:
#model, fl, price_fl 추출 5행
mpg[['model','fl','price_fl']].head(5)

  model fl  price_fl
0    a4  p      2.76
1    a4  p      2.76
2    a4  p      2.76
3    a4  p      2.76
4    a4  p      2.76