In [7]:
import pandas as pd
import numpy as np

midwest = pd.read_csv('../files/midwest.csv')
midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,19.631392,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,11.243308,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,17.033819,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,17.278954,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,14.475999,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,35.396784,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,16.549869,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,15.064584,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,24.995504,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,21.666382,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR

In [13]:
#popadults 성인, poptotal 전체, 전체인구 대비 미성년 인구 백분율 
midwest['ratio'] = \
    (midwest['poptotal'] - midwest['popadults']) / midwest['poptotal'] * 100

In [14]:
midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,ratio
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,34.486307
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,36.721250
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,35.501301
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,37.440758
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,31.819740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,35.731093
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,34.693302
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,31.307712
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,36.602052
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,36.422797

In [15]:
#미성년 인구 백분율이 가장 높은 사우이 5개 지역의 미성년 인구 백분율
midwest.sort_values('ratio', ascending=False) \
    .head(5) \
    [['county', 'ratio']]

        county      ratio
230   ISABELLA  51.501172
404  MENOMINEE  50.591260
281     ATHENS  49.320727
247    MECOSTA  49.059183
154     MONROE  47.358182

In [18]:
#미성년 비율등급 추가 등급별 지역 
midwest['grade'] = np.where(midwest['ratio'] >= 40, 'large',
                            np.where(midwest['ratio'] >= 30, 'middle', 'small'))

midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,ratio,grade
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,34.486307,middle
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,36.721250,middle
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,35.501301,middle
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,37.440758,middle
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,31.819740,middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,35.731093,middle
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,34.693302,middle
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,31.307712,middle
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,36.602052,middle
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,36.422797,middle

In [19]:
midwest.groupby('grade') \
    .agg(count=('grade', 'count'))

        count
grade
large      32
middle    396
small       9

In [21]:
midwest['grade'].value_counts()

middle    396
large      32
small       9
Name: grade, dtype: int64

In [24]:
#popasian - 아시아인
#전체 인구 대비 아시아인 인구 백분율
#하위 10개지역의 state, country, 아시아인 인구 백분율

midwest.assign(asian_ratio=midwest['popasian'] / midwest['poptotal'] * 100) \
    .sort_values('asian_ratio') \
    .head(10) \
    [['state', 'county', 'asian_ratio']]

    state     county  asian_ratio
404    WI  MENOMINEE     0.000000
105    IN     BENTON     0.010592
109    IN    CARROLL     0.015950
358    OH     VINTON     0.027032
390    WI       IRON     0.032504
85     IL      SCOTT     0.053154
112    IN       CLAY     0.060716
261    MI     OSCODA     0.063759
340    OH      PERRY     0.066546
73     IL      PIATT     0.070749