In [3]:
import pandas as pd
import numpy as np

In [23]:
mpg = pd.read_csv('../files/mpg.csv')                      
mpg.loc[[64, 123, 130, 152, 211], 'hwy'] = np.nan
mpg.loc[[64,123,130,152,211]]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
64,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,NaN,r,pickup
123,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,NaN,r,suv
130,land rover,range rover,4.0,1999,8,auto(l4),4,11,NaN,p,suv
152,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,NaN,p,suv
211,volkswagen,gti,2.8,1999,6,manual(m5),f,17,NaN,r,compact

In [24]:
#drv 변수와 hwy 변수에 결측치 얼마나 있는지
mpg[['drv','hwy']].isna().sum()

drv    0
hwy    5
dtype: int64

In [25]:
mpg.dropna(subset = ['hwy']) \
   .groupby('drv') \
   .agg(mean_hwy = ('hwy', 'mean'))

      mean_hwy
drv
4    19.242424
f    28.200000
r    21.000000