In [1]:
import pandas as pd

In [5]:
# 데이터 프레임 만들기
df = pd.DataFrame({'name,': ['김지훈', '이유진', '박동현', '김민지'],
                   'english': [90, 80, 60, 70],
                   'math': [50, 60, 100, 20]
                   })
df

  name,  english  math
0   김지훈       90    50
1   이유진       80    60
2   박동현       60   100
3   김민지       70    20

In [6]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [7]:
sum(df['english'])

300

In [8]:
sum(df['math'])

230

In [9]:
sum(df['english']) / 4

75.0

In [10]:
sum(df['math']) / 4

57.5

In [17]:
fruits = pd.DataFrame({
    '제품': ['사과', '딸기', '수박'],
    '가격': [1800, 1500, 3000],
    '판매량': [24, 38, 13]
})
fruits

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [21]:
sum(fruits['가격']) / len(fruits)

2100.0

In [22]:
sum(fruits['판매량']) / len(fruits)

25.0