In [7]:
import pandas as pd

#excel import 하기
df_exam = pd.read_excel('excel_exam.xlsx')
df_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [9]:
sum(df_exam['english']) / 20

84.9

In [10]:
sum(df_exam['science']) / 20

59.45

In [13]:
#len 함수 이용하기
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [14]:
len(x)

5

In [15]:
df = pd.DataFrame({'a': [1, 2, 3],
                   'b': [4, 5, 6]})
df

   a  b
0  1  4
1  2  5
2  3  6

In [16]:
len(df)

3

In [17]:
len(df_exam)

20

In [18]:
sum(df_exam['english']) / len(df_exam)

84.9

In [19]:
sum(df_exam['science']) / len(df_exam)

59.45

In [23]:
#변수 명 없는 엑셀 import - header = None 옵션을 준다
df_exam_novar = pd.read_excel('excel_exam_novar.xlsx', header=None)
df_exam_novar

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15
5  6  3  50  98  45
6  7  4  46  98  65
7  8  4  48  87  12

In [24]:
#특정 시트 가져오기
# df_exam = pd.read_excel('excel_exam.xlsx', sheet_name='Sheet2')
#세번째 시트 가져오기
# df_exam = pd.read_excel('excel_exam.xlsx', sheet_name='2')

ValueError: Worksheet named 'Sheet2' not found