In [3]:
#내장함수
# sum(var)
# max(var)

In [17]:
import pandas as pd
#패키지함수
df = pd.read_csv('exam.csv')
pd.DataFrame({'x' : [1, 2, 3,4]})

   x
0  1
1  2
2  3
3  4

In [7]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20 non-null     int64
 1   nclass   20 non-null     int64
 2   math     20 non-null     int64
 3   english  20 non-null     int64
 4   science  20 non-null     int64
dtypes: int64(5)
memory usage: 928.0 bytes

In [8]:
#데이터 프레임 메서드인 head는 var에서 사용 불가능
var = [1, 2, 3]
# var.head()

AttributeError: 'list' object has no attribute 'head'

In [10]:
#타입 확인법
type(df)

pandas.core.frame.DataFrame

In [12]:
type(var)

list

In [14]:
#메서드
df.head()

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65

In [16]:
#어트리뷰트
df.shape

(20, 5)

In [ ]:
# 변수의 자료구조마다 지니고 있는 어트리뷰트가 다르다
# shape는 var에는 사용할 수 없음
# var.shape